.armada-headline h3,
h1 {
    text-align: center;
}

img.img-fluid {
    height: 2rem;
}

.armada-headline h3 {
    font-size: 1.6rem;
    font-weight: 500;
    padding: .5rem 0;
}

.armada-headline h1 {
    font-size: 3.1rem;
    font-weight: 800;
    width: 40%;
    padding-bottom: 1rem;
}

.armada-img {
    height: 24.3rem;
    width: 31.8rem;
    border-radius: 12px;
}

.bus1 {
    width: 1000PX;
    margin-left: -16rem;
    /* margin-right: -8rem; */
}

.kalimatModal h1 {
    text-align: left;
    color: #313338;
    font-family: Raleway;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.pesanModal {
    background-color: #AB3C16;
    font-weight: bolder;
    padding: .2rem 0;
    border-radius: 7px;
}

.pesanModal a {
    text-align: center;
    color: white;
    text-decoration: none;
}

.keterangan {
    font-weight: bolder;
    margin-top: -1rem;
}

.gambar {
    margin: 2rem 0;
}

/* 
.gambar img {
    height: 28rem;
} */

@media only screen and (max-width: 576px) {
    .armada-headline h3 {
        font-size: 1.2rem;
        font-weight: 500;
        padding: .5rem 0;
    }

    .armada-headline h1 {
        font-size: 2rem;
        font-weight: 800;
        width: 100%;
        padding-bottom: 1rem;
    }

    .armada-img {
        height: 12rem;
        width: 14rem;
        border-radius: 12px;
    }

}

@media only screen and (max-width: 768px) {
    .armada-headline h3 {
        font-size: 1.4rem;
        font-weight: 500;
        padding: .5rem 0;
    }

    .armada-headline h1 {
        font-size: 2.4rem;
        font-weight: 800;
        width: 100%;
        padding-bottom: 1rem;
    }

    .armada-img {
        height: 15rem;
        width: 18rem;
        border-radius: 12px;
    }

}

@media only screen and (max-width: 992px) {
    .armada-headline h3 {
        font-size: 1.8rem;
        font-weight: 500;
        padding: .5rem 0;
    }

    .armada-headline h1 {
        font-size: 2.8rem;
        font-weight: 800;
        width: 100%;
        padding-bottom: 1rem;
    }

    .armada-img {
        height: 18rem;
        width: 20rem;
        border-radius: 12px;
    }

}

@media only screen and (min-width: 300px) {
    .bus1 {
        width: 400px;
        margin-left: .5rem;
    }

    .kalimatModal h1 {
        font-size: 17px;
    }

    .col-9 {
        /* margin-top: -; */
        font-size: .5rem;
    }

    .gambar img {
        height: 17rem;
    }

}

@media only screen and (min-width: 500PX) {
    .bus1 {
        width: 700px;
        margin-left: -6rem;
    }

    .kalimatModal h1 {
        font-size: 22px;
    }

    .col-9 {
        /* margin-top: -; */
        font-size: .7rem;
    }
}