@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.up-icon {
  z-index: 99999;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  margin-top: 6rem;
  line-height: 50px;
  color: #ffffff;
}

.fa-whatsapp {
  font-size: 2.5rem;
  position: relative;
  left: 2rem;
  top: 2rem;
}

.box {
  background-color: #47110E;
  width: 156px;
  height: 156px;
}

.title-card {
  font-size: 19px;
  font-weight: 600;
}

.descProfile {
  font-size: 14px;
  font-weight: 400;
}

.busKuning {
  width: 350px;
  height: 284px;
  object-fit: cover;
}

.bg-footer {
  background-color: #313338;
}

.logo {
  width: 180px;
  height: 38px;
}

.contact {
  white-space: nowrap;
}

.contact p {
  font-size: 15px;
}

.copyright p {
  font-size: 15px;
}

.address p,
h6 {
  font-size: 17px;
}

.ico {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  padding: .25rem;
  margin-right: 5px;
}

.navbarIco {
  position: relative;
}

.mail {
  /* margin-left: 2rem */
}

.socialIco {
  border-radius: 50%;
}

.IGIco {
  border-radius: 50%;
  width: 40px;
  padding: .5rem;
}

.line {
  width: 300px
}

.line a {
  text-decoration: none;
}

.libur {
  background-color: #AB3C16;
  border-radius: 8px;
  padding: 2px 4px;
  height: 29px;
}

.bg-Grey {
  background-color: #F9F9F9;
}

.profile-title {
  padding: 2rem 21rem;
}

.naradaText {
  color: #AB3C16;
}

.naradaBanner {
  color: #EEA953;
}

.AboveWord {
  font-size: 20px;
  font-weight: 500;
  position: relative;
  left: -4rem;
  font-family: 'Inter', sans-serif;
}

.wordHomePage {
  /* border: 1px solid white; */
  width: 30rem;
  position: relative;
  left: -4rem;

}

.wordHomePage p {
  /* width: 564px; */
  font-size: 60px;
  position: relative;
  /* left: -12rem; */
  color: #FFF;
  font-family: Raleway;
  /* font-size: 80px; */
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.kalimat {
  position: absolute;
  color: white;
  font-family: 'Raleway', sans-serif;
  top: 8rem;
  left: 5rem;
}


.deliver {
  padding: .4rem;
  background-color: #AB3C16;
  width: 10rem;
  position: relative;
  left: -2.6rem;
  border-radius: 3rem;
  text-align: center;
}

.deliver a {
  color: white;
  text-decoration: none;
}


.mySlides {
  display: none;
  /* height: 100vh; */
}

.mySlides img {
  /* vertical-align: middle; */
  background-position: center;
  /* background-size: contain; */
  background-repeat: no-repeat;
  height: 100vh;
  background-size: contain;
}

/* Slideshow container */
.slideshow-container {
  z-index: -1;
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  text-decoration: none;
}

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
} */

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

/* Number text (1/3 etc) */


/* The dots/bullets/indicators */


/* Fading animation */
/* .fade {  
animation-name: fade;
animation-duration: 3.5s;
} */


/* On smaller screens, decrease text size */
.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner-img {
  width: 80%;
  background-image: url(../images/banner.png);
  height: 355px;
  background-position: center;
}

.banner {
  border-radius: 12px;
}

.banner h1 {
  font-size: 38px;
  width: 60%;
}

.banner img {
  cursor: pointer;
}

.ribbon {
  background-color: #AB3C16;
  height: 192px;
  width: 80%;
  border-radius: 20px;
}

.img-ribbon {
  border-radius: 20px;
}

.text-ribbon {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.text-ribbon h3 {
  font-size: 33px;
  padding-left: 3rem;
}

.text-ribbon p {
  font-size: 13px;
  width: 56%;
  padding-left: 3rem;
}

.btn-ribbon {
  position: relative;
  top: 0;
  padding-top: 4.3rem;
  padding-bottom: 4.3rem;
}

.btn-kontak {
  border: none;
  background-color: #EEA953;
  border-radius: 50px;
  padding: 10px 25px;
  font-weight: bold;
}

.btn-download {
  border: 1px solid white;
  background-color: transparent;
  border-radius: 50px;
  padding: 10px 25px;
  font-weight: bold;
}

@media only screen and (max-width: 576px) {

  /* .up-icon {
    z-index: 99999;
    position: fixed;
    width: 50px;
    right: 0px;
    margin-top: 6rem;
  } */


  /* For tablets: */
  .navbar-brand {
    left: -3rem;
    top: 0;
    position: relative;
  }

  .kalimat {
    left: 2rem;
    width: 20rem;
  }

  .navbar-toggler {
    position: relative;
    right: -11rem;
    top: -3rem;
  }

  .mySlides img {
    height: 20rem;
    margin-top: 5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .AboveWord {
    font-size: 13px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid white; */
    margin: 0 auto;
    position: relative;
    left: 4.8rem;
  }

  .pesan {
    /* border: 1px soliD wheat; */
    position: relative;
    /* left: 5rem; */
    top: 1.5rem;
  }

  .deliver {
    left: 5rem;
    margin: 0 auto;
  }

  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 17rem;
  }

  .aww {
    /* border: 1px solid white; */
    margin: 0 auto;
    position: relative;
    left: -7rem;
    /* display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center; */
  }

  .FleksibelHomePage {
    text-align: center;
    /* margin-left: -3rem; */
    /* margin: 0 auto; */
    /* display: flex; */
    position: relative;
    /* left: -6rem; */
    top: 1rem;
    margin: 0 auto;

  }

  .wordHomePage {
    /* border: 1px solid white; */
    /* width: 10rem; */
    top: .5rem;
    /* margin: 0 auto; */
    text-align: center;
    /* margin-right: 3rem; */
    /* border: 1px solid red; */
    position: relative;
    margin-left: 9rem;
    margin-bottom: 1rem;
    width: 100%;
    /* right: 2rem; */

    /* text-align: center; */
    /* border: 1px solid white; */
    /* margin: 0 auto; */
  }

  .wordHomePage p {
    /* width: 564px; */
    text-align: center;
    font-size: 20px;
    margin: 0 auto;

    /* display: flex;
    justify-content: center; */
    /* text-align: center; */
    position: relative;
    /* margin-right: 5rem; */

    left: 0rem;
    /* position: relative; */
  }

  .mengapa {
    border: 1px solid black;
    width: 80%;
    position: relative;
    margin: 0 auto;
    /* right: 3rem; */
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  height: 30rem;
  margin-top: -4rem;
  position: relative;
  margin-bottom: -3rem;
}

.wrapper i {
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper i#left {
  left: 1rem;
}

.wrapper i#right {
  right: 1rem;
}

.wrapper i:active {
  transform: translateY(-50%) scale(0.9);
}

.wrapper i:hover {
  background: #AB3C16;
  color: white;
}

.wrapper i:first-child {
  left: -26px;
  display: none;
}

.wrapper i:last-child {
  right: -26px;
}

.wrapper .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.dragging img {
  pointer-events: none;
}

.carousel img {
  height: 340px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
}

.carousel img:first-child {
  margin-left: 0px;
}

.busPutih {
  width: auto;
  cursor: pointer;
}



@media only screen and (max-width: 576px) {
  .ribbon {
    height: 440px;
    width: 100%;
    border-radius: 20px;
  }

  .img-ribbon {
    width: 100%;
    height: 200px;
    border-radius: 20px;
  }

  .text-ribbon {
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }

  .text-ribbon h3 {
    margin: auto;
    text-align: center;
    font-size: 33px;
    padding-left: 0;
  }

  .text-ribbon p {
    text-align: center;
    margin: auto;
    font-size: 13px;
    width: 46.5%;
    padding-left: 0;
  }

  .btn-ribbon {
    width: 100%;
    padding-top: 0rem;
    display: block;
    position: relative;
    left: 0;
  }

  .btn-kontak {
    margin-bottom: 10px;
    border: none;
    width: 100%;
    background-color: #EEA953;
    border-radius: 50px;
    padding: .5rem 0;
    font-weight: bold;
  }

  .btn-download {
    width: 100%;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 50px;
    padding: .5rem 0;
    font-weight: bold;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .ribbon {
    height: 440px;
    width: 80%;
    border-radius: 20px;
  }

  .img-ribbon {
    width: 100%;
    height: 200px;
    border-radius: 20px;
  }

  .text-ribbon {
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }

  .text-ribbon h3 {
    margin: auto;
    text-align: center;
    font-size: 33px;
    padding-left: 0;
  }

  .text-ribbon p {
    text-align: center;
    margin: auto;
    font-size: 13px;
    width: 46.5%;
    padding-left: 0;
  }

  .btn-ribbon {
    width: 100%;
    padding-top: 0rem;
    display: block;
    position: relative;
    left: 0;
  }

  .btn-kontak {
    margin-bottom: 10px;
    border: none;
    width: 100%;
    background-color: #EEA953;
    border-radius: 50px;
    padding: .5rem 0;
    font-weight: bold;
  }

  .btn-download {
    width: 100%;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 50px;
    padding: .5rem 0;
    font-weight: bold;
    margin-right: 20px;
  }
}

@media screen and (max-width: 992px) {
  .ribbon {
    height: 81%;
    width: 80%;
    border-radius: 20px;
  }

  .img-ribbon {
    width: 100%;
    height: 200px;
    border-radius: 20px;
  }

  .text-ribbon {
    display: block;
    margin: auto;
    text-align: center;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }

  .text-ribbon h3 {
    margin: auto;
    text-align: center;
    font-size: 33px;
    padding-left: 0;
  }

  .text-ribbon p {
    text-align: center;
    margin: auto;
    font-size: 13px;
    width: 97%;
    padding-left: 0;
  }

  .btn-ribbon {
    width: 100%;
    padding-top: 4rem;
    display: block;
  }

  .btn-kontak {
    margin-bottom: 0;
    border: none;
    width: 100%;
    background-color: #EEA953;
    border-radius: 50px;
    padding: .5rem 0;
    font-weight: bold;
  }

  .btn-download {
    width: 100%;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 50px;
    padding: .5rem 0;
    font-weight: bold;
    margin-right: 20px;
  }
}




@media screen and (max-width: 900px) {
  .carousel img {
    width: calc(100% / 2);
  }
}

@media screen and (max-width: 550px) {
  .carousel img {
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .profile-title {
    padding: 2rem 0;
    padding-right: 5rem;
    padding-left: 2rem;
  }

  .line {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .line {
    width: 80%;
  }

  .profile-title {
    padding: 2rem 0;
    padding-right: 5rem;
    padding-left: 2rem;
  }
}

@media only screen and (max-width: 992px) {
  .navbarGap {
    margin: 1em 2.2em;
  }

  .profile-title {
    padding: 2rem 0;
    padding-right: 5rem;
    padding-left: 2rem;
  }

  .line {
    width: 100%;
  }
}

@media only screen and (max-width: 1200px) {
  .profile-title {
    padding: 2rem 0;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.wrapper2 {
  width: 100%;
  margin-bottom: 3rem;
}

.carousel2 {
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
}

.carousel2 .card {
  color: #fff;
  /* text-align: center; */
  margin: 20px 0;
  line-height: 250px;
  /* font-size: 90px; */
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.carousel2 .card .right {
  width: 40%;
  border: 2px solid red;
}

.carousel2 .card .left {
  border: 2px solid white;
  width: 40%;
}

.anjengg {
  font-size: 1rem;
  line-height: normal;

  color: white;
}

.carousel2 .card-1 {
  background: #ed1c24;
}

.carousel2 .card-2 {
  background: #0072bc;
}

.carousel2 .card-3 {
  background: #39b54a;
}

.carousel2 .card-4 {
  background: #f26522;
}

.carousel2 .card-5 {
  background: #630460;
}

.owl-dots {
  text-align: center;
  margin-top: 40px;
}

.owl-dot {
  height: 15px;
  width: 45px;
  margin: 0 5px;
  outline: none;
  border-radius: 14px;
  border: 2px solid #0072bc !important;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.owl-dot.active,
.owl-dot:hover {
  background: #0072bc !important;
}