* {
    box-sizing: border-box
}

.navbar {
    padding: 2rem 5.8rem;
    overflow: hidden;
    z-index: 10000;
}


.navbarGap {
    margin: 0 10.5em;
}

.section {
    margin-top: 1em;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

.navbarLink {
    color: #47110E;
    text-decoration:none;
    padding:8px 13px;
    font-weight: bold;
    border-radius:15px;
}

a#active {
    background-color:#47110E;
    color:white;
}

.navbarLink:hover {
    background-color:#47110E;
    color:white;
    transition:.2s
}

.navbarIco {
    width: 22px;
    position: relative;
    top:2px;
}

.carousel {
    z-index:-1;
}

.box {
    background-color: #47110E;
    width: 156px;
    height:156px;
}

.title-card {
    font-size: 19px;
    font-weight: 600;
}

.descProfile {
    font-size: 14px;
    font-weight: 400;
}

.busKuning {
    width: 350px;
    height: 284px;
    object-fit: cover;
}

.bg-footer{
    background-color:#313338;
}

.logo {
    width:180px;
    height:38px;
}

.contact {
    white-space: nowrap;
}

.contact p {
    font-size: 15px;
}

.copyright p {
    font-size: 15px;
}

.address p,h6{
    font-size: 17px;
}

.ico {
    border-radius: 50%;
    width:25px;
    height:25px;
    padding: .25rem;
    margin-right: 5px;
}

.mail {
    margin-left:2rem
}

.socialIco {
    border-radius: 50%;
}

.IGIco {
    border-radius: 50%;
    width:40px;
    padding:.5rem; 
}

.line {
    width:300px
}

.line a {
    text-decoration: none;
}

.libur {
    background-color: #AB3C16;
    border-radius: 8px;
    padding: 2px 4px;
    height:29px;
}

.profile-title {
    padding: 2.5rem;
}

.naradaText {
    color: #AB3C16;
}

.AboveWord{
    font-size: 24px;
font-weight: 500;
font-family: 'Inter', sans-serif;
}
.kalimat{
    position: absolute;
    color:  white;
    font-family: 'Raleway', sans-serif;
    top:8rem;
    left: 5rem;
}


.deliver{
    padding: .4rem;
    background-color: #AB3C16;
    width: 10rem;
    border-radius: 3rem;
    text-align: center;
}

.deliver a{
    color: white;
    text-decoration: none;
}


.mySlides {
    display: none;
    /* height: 100vh; */
}
.mySlides img {
    /* vertical-align: middle; */
    background-position: center;
    /* background-size: contain; */
    background-repeat: no-repeat;
    height: 100vh;
    background-size: contain;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  text-decoration: none;
}

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
} */

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.carousel-control-prev, .carousel-control-next{
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
/* Number text (1/3 etc) */


/* The dots/bullets/indicators */


/* Fading animation */
/* .fade {
  animation-name: fade;
  animation-duration: 3.5s;
} */


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

@media only screen and (max-width: 992px) {
    .navbarGap {
        margin: 1em 2.2em;
    }

}