
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
}
body{
  min-height: 100vh;
  /* display: flex; */
  align-items: center;
}
.wrapper2{
  width: 100%;
}
.carousel2{
  max-width: 1200px;
  margin: auto;
  padding: 0 30px;
}
.carousel2 .card{
  color: #fff;
  text-align: center;
  margin: 20px 0;
  line-height: 250px;
  font-size: 90px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
}
.carousel2 .card-1{
  background: #ed1c24;
}
.carousel2 .card-2{
  background: #0072bc;
}
.carousel2 .card-3{
  background: #39b54a;
}
.carousel2 .card-4{
  background: #f26522;
}
.carousel2 .card-5{
  background: #630460;
}
.owl-dots{
  text-align: center;
  margin-top: 40px;
}
.owl-dot{
  height: 15px;
  width: 45px;
  margin: 0 5px;
  outline: none;
  border-radius: 14px;
  border: 2px solid #0072bc!important;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.owl-dot.active,
.owl-dot:hover{
  background: #0072bc!important;
}

.section {
    margin-top: 1em;
}

.article-left {
    padding-top: 2rem;
    width:50%;
    padding-left: 6rem;
}

.article-left h3 {
    font-weight: 500;
    font-size: 27px;
    line-height: 32px;
}

.article-left h2 {
    font-weight: 800;
    font-size: 60px;
    line-height: 75px;
}

.article-left p {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}

.text-brown {
    color: #AB3C16;
}

.img-responsive .img1 {
    width: 100%;
    height: 789px;
    position: relative;
    left:12px;
}

.article-img {
  position: relative;
  right:12px;
}

.img2, .img3 {
    height: 459px;
}

.article-right {
    position: relative;
    padding-top: 10rem;
    padding-left: 3rem;

}

.article-right h3 {
    font-weight: 500;
    font-size: 27px;
    line-height: 32px;
}

.article-right h2 {
    font-weight: 800;
    font-size: 60px;
    line-height: 75px;
}

.article-right p {
    width: 90%;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
}


@media only screen and (max-width: 576px) {

  .img-responsive {
    display:block;
    margin: auto;
  }

  .img-responsive .img1 {
    width: 400px;
    height: 450px;
  }

  .img2, .img3 {
    width: 400px;
    height: 350px;
  }

  .article-left {
    width: 95%;
    padding-top: 2rem;
    padding-left: 2rem;
  }

  .article-img {
    display: block;
    position: relative;
    right: 0;
    margin-top: 30px;
  }

  .article-left h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
}

.article-left h2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 75px;
}

.article-right {
  padding-top: 2rem;
  padding-left: 2rem;

}

.article-left p {
  width: 100%;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.article-right p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.article-right h3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
}

.article-right h2 {
  font-weight: 800;
  font-size: 40px;
  line-height: 75px;
}

}

@media only screen and (max-width: 768px) {

  .img-responsive .img1 {
    width: 400px;
    height: 450px;
  }

  .img2, .img3 {
    width: 400px;
    height: 350px;
  }

  .article-left {
    width: 95%;
    padding-top: 2rem;
    padding-left: 2rem;
  }

  .article-img {
    position: relative;
    right: 0;
    display: block;
    margin-top: 30px;
    text-align: center;
  }

  .article-left h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
}

.article-left h2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 75px;
}

.article-right {
  padding-top: 2rem;
  padding-left: 2rem;

}

.article-left p {
  width: 100%;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.article-right p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.article-right h3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
}

.article-right h2 {
  font-weight: 800;
  font-size: 40px;
  line-height: 75px;
}

}
@media only screen and (max-width: 992px) {

  .img-responsive .img1 {
    width: 400px;
    height: 450px;
  }

  .img2, .img3 {
    width: 400px;
    height: 350px;
  }

  .article-left {
    width: 95%;
    padding-top: 2rem;
    padding-left: 2rem;
  }

  .article-img {
    position: relative;
    right: 0;
    display: block;
    margin-top: 30px;
    text-align: center;
  }

  .article-left h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
}

.article-left h2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 75px;
}

.article-right {
  padding-top: 2rem;
  padding-left: 2rem;

}

.article-left p {
  width: 100%;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.article-right p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.article-right h3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
}

.article-right h2 {
  font-weight: 800;
  font-size: 40px;
  line-height: 75px;
}

}

@media only screen and (max-width: 992px) {
}