.ParentNavbar {
    /* position: fixed; */
    width: 100%;
}

.navbar {
    padding: 2rem 5.8rem;
    overflow: hidden;
    z-index: 10000;
}


.navbarGap {
    margin: 0 10.5em;
}

.section {
    margin-top: 1em;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}

#navbarlink {
    color: #47110E;
    text-decoration: none;
    padding: 8px 13px;
    font-weight: bold;
    border-radius: 15px;
}

a#active {
    background-color: #47110E;
    color: white;
}

#navbarlink:hover {
    background-color: #47110E;
    color: white;
    transition: .2s
}

.navbarIco {
    width: 22px;
    position: relative;
    top: 2px;
}

.carousel {
    z-index: -1;
}

/* 
a:is(:link, :active, :visited).active{
    background-color: red;
    color: whitesmoke;
} */

@media only screen and (max-width: 500px) {

    /* For tablets: */
    .navbar-brand {
        left: -4rem;
        top: 0;
        position: relative;
    }

    .navbar-toggler {
        position: relative;
        right: -12rem;
        top: -3rem;
    }

}

@media only screen and (max-width: 576px) {

    /* For tablets: */
    .navbar-brand {
        left: -4rem;
        top: 0;
        position: relative;
    }

    /* .navbar-toggler {
        position: relative;
        right: 5rem;
        top: 0;
    } */
    .mail {
        position: relative;
        bottom: -2rem;
        margin: 2rem 0rem 2rem -8rem;
    }
}